<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.luke.api.dao.BudgetMapper">

    <select id="getAllBudgetIdByUserId" parameterType="Long" resultType="Integer">
        select budget_id
        from t_user_budget
        where user_id = #{userId};
    </select>

    <insert id="addBudgetForUser">
        insert into t_user_budget (budget_id,user_id)
        values (#{bid},#{uid});
    </insert>

    <delete id="dropBudgetForUser">
        delete
        from t_user_budget
        where budget_id = #{bid} and user_id = #{uid};
    </delete>

</mapper>