<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="host.luke.auth.dao.UserMapper">
    <select id="getConsByUserId" parameterType="Long" resultType="host.luke.common.pojo.Consumption">
        select *
        from t_auth where consumption_id in
                          (select consumption_id from t_user_consumption where user_id = #{userId} )
    </select>

    <insert id="addCons" parameterType="Long">
        insert into t_user_consumption (user_id,consumption_id)
        values (#{userId},#{consumptionId})
    </insert>

</mapper>